<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="reconf.spring.RepositoryConfigurationBean">
        <property name="configInterface" value="reconf.client.examples.WelcomeConfiguration"/>
        <property name="componentPrefix" value="cp-"/>
        <property name="componentSuffix" value="-cs"/>
        <property name="componentItemPrefix" value="kp-"/>
        <property name="componentItemSuffix" value="-ks"/>
    </bean>

</beans>
